<%= render 'header' %>
<div class="inner">
	<h1 id="top">A tag</h1>
	<div class="codigo">
		<p>This book's <a href="http://www.csscookbook.com/" title="Link to the book
		site">Web site</a> contains links to download more material.</p>

	</div>

	<div class="texto">
	<%= h %{<p>This book's <a href="http://www.csscookbook.com/" title="Link to the book
		site">Web site</a> contains links to download more material.</p>} %>
	</div>

	<div class="codigo">
		<p>This book's <a href="http://www.csscookbook.com/" title="Link to the book
		site">Web site</a> contains links to download more material.</p>
		<p>This book's <a href="http://www.csscookbook.com/" title="Link to the book
		site">Web site</a> contains links to download more material.</p>
		<p>This book's <a href="http://www.csscookbook.com/" title="Link to the book
		site">Web site</a> contains links to download more material.</p>
		<p>This book's <a href="http://www.csscookbook.com/" title="Link to the book
		site">Web site</a> contains links to download more material.</p>
		<p>This book's <a href="http://www.csscookbook.com/" title="Link to the book
		site">Web site</a> contains links to download more material.</p>
		<p>This book's <a href="http://www.csscookbook.com/" title="Link to the book
		site">Web site</a> contains links to download more material.</p>
		<p>This book's <a href="http://www.csscookbook.com/" title="Link to the book
		site">Web site</a> contains links to download more material.</p>
		<p>This book's <a href="http://www.csscookbook.com/" title="Link to the book
		site">Web site</a> contains links to download more material.</p>
		<p>This book's <a href="http://www.csscookbook.com/" title="Link to the book
		site">Web site</a> contains links to download more material.</p>
		<p>This book's <a href="http://www.csscookbook.com/" title="Link to the book
		site">Web site</a> contains links to download more material.</p>
		<p>This book's <a href="http://www.csscookbook.com/" title="Link to the book
		site">Web site</a> contains links to download more material.</p>
		<p>This book's <a href="http://www.csscookbook.com/" title="Link to the book
		site">Web site</a> contains links to download more material.</p>
		<p>This book's <a href="http://www.csscookbook.com/" title="Link to the book
		site">Web site</a> contains links to download more material.</p>
		<p>This book's <a href="http://www.csscookbook.com/" title="Link to the book
		site">Web site</a> contains links to download more material.</p>
		<p>This book's <a href="http://www.csscookbook.com/" title="Link to the book
		site">Web site</a> contains links to download more material.</p>
		<p>This book's <a href="http://www.csscookbook.com/" title="Link to the book
		site">Web site</a> contains links to download more material.</p>
		<p>This book's <a href="http://www.csscookbook.com/" title="Link to the book
		site">Web site</a> contains links to download more material.</p>
		<p>This book's <a href="http://www.csscookbook.com/" title="Link to the book
		site">Web site</a> contains links to download more material.</p>
		<p>This book's <a href="http://www.csscookbook.com/" title="Link to the book
		site">Web site</a> contains links to download more material.</p>
		<p>This book's <a href="http://www.csscookbook.com/" title="Link to the book
		site">Web site</a> contains links to download more material.</p>
		<p><a href="#top">Ir arriba ↑ </a></p>
	</div>
</div>