<%= render 'header' %>
<div class="inner">
	<h1>Audio</h1>
	<p><%=h '<audio src="someaudio.ogg" autoplay controls>
			<a href="html5test.ogg">Download!</a>
		  </audio>' %></p>

		<audio src="someaudio.ogg" autoplay controls>
		<a href="html5test.ogg">Download!</a>
		 </audio> 
		</div>