<%= render 'header' %>
<h1>Blockquote tag</h1>
<div class="codigo">
	<blockquote cite="www.taringa.net">Esto es un texto citado viendo que <q>onda esto</q> para ver que carajos sera pa
	se lyo fijate bien</blockquote>
</div>

<div class="texto"> 
<%= h %{<blockquote cite="www.taringa.net">Esto es un texto citado viendo que <q>onda esto</q> para ver que carajos sera pa
se lyo fijate bien</blockquote>} %>
</div>