<%= render 'header' %>
<div class="inner">
	<h1>Video:</h1>

	<p><%= h '<video src="html5video.ogg with="320" height="240" controls poster="html5video.jpg">'%>
	<%= h '<a href="html5video.ogg>Download movie!</a>' %>
	<%= h '</video>'%>
	</p>

	<video src="html5video.ogg with="320" height="240" controls poster="html5video.jpg">
		<a href="html5video.ogg>Download movie!</a>
	</video>
</div>