<%= render 'header' %>
<div class="inner">	
	<div class="texto">
		<h2>Styles</h2>
		<p>{
			font-family: verdana, arial, sans-serif;
}<br>
h1 {
font-size: 120%;
}<br>
#navigation {
border: 1px solid black;
padding: 40px;
}<br>
li a {
text-decoration: none;
}<br>
p {
font-size: 90%;
}

		</p>
	</div>

	<div class="texto">
		<div class="css-ejemplo-1"
		<h1>Title of Page</h1>
			<p>This is a sample paragraph with a
			<a href="http://csscookbook.com">link</a>. Lorem ipsum dolor sit amet,
			consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut
			laoreet dolore magna <em class="warning">aliquam erat volutpat</em>. Ut
			wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit
			lobortis nisl ut aliquip ex ea commodo consequat.<p>
			<ul id="navigation">
			<li><a href="http://csscookbook.com">Apples</a></li>
			<li><a href="http://csscookbook.com">Bananas</a></li>
			<li><a href="http://csscookbook.com">Cherries</a></li>
			</ul>
		</div>
	</div>
</div>